@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background: radial-gradient(#723bf3, #2b07db);
  background-attachment: fixed;
}