.core-concept-card {
  height: 17rem;
}

.core-concept-card img {
  height: 6rem;
  width: 6rem;
  object-fit: cover;
}

.core-concept-card h3 {
  margin: 0.5rem 0;
  text-transform: uppercase;
}

.core-concept-card p {
  font-size: 0.9rem;
  padding: 0rem 0.5rem 1rem 0.5rem;
}

.core-concept-card:hover {
  transform: translateY(-2px);
  transition: transform 0.2s;
  box-shadow: 0 2px 30px rgba(234, 78, 240, 0.4);
}